body {
  line-height: 1.6;
}


#register_vote {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#register_vote td, #register_vote th {
    border: 1px solid #ddd;
    padding: 8px;
}

#register_vote tr:nth-child(even){background-color: #f2f2f2;}

#register_vote tr:hover {background-color: #ddd;}


#register_vote th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e60000;
    color: white;
}

h1, h2 {
  color: #e60000;
  text-decoration: underline;
  text-decoration-color: red;
}
